.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      img.img-xs(src="/assets/logo.svg")
      | OpenTour Live
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Menu
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Etape 1') ? 'active' : undefined)
          a.dropdown-item(href='/etape-1') Etape 1
        li.nav-item(class=(title === 'Etape 2') ? 'active' : undefined)
          a.dropdown-item(href='/etape-2') Etape 2
        li.nav-item(class=(title === 'Etape 3') ? 'active' : undefined)
          a.dropdown-item(href='/etape-3') Etape 3
        li.nav-item(class=(title === 'Etape 4') ? 'active' : undefined)
          a.dropdown-item(href='/etape-4') Etape 4
        li.nav-item(class=(title === 'Etape 5') ? 'active' : undefined)
          a.dropdown-item(href='/etape-5') Etape 5
