h3 Classement
hr

.row
  .col-9 Lunary
  .col-3 1840
.row
  .col-9 Bastille Legacy
  .col-3 1500
.row
  .col-9 IziDream
  .col-3 1225
.row
  .col-9 LF structure
  .col-3 1110
.row
  .col-9 Zephyr Esport
  .col-3 910
.row
  .col-9 Hegemonia
  .col-3 630
.row
  .col-9 Alphas Slayers
  .col-3 630
.row
  .col-9 Opportunity Esport
  .col-3 425
.row
  .col-9 Omerix Esport
  .col-3 370
.row
  .col-9 Bunker eSport
  .col-3 370
.row
  .col-9 Konix Esport
  .col-3 330
.row
  .col-9 Elan DEspoir FR
  .col-3 260
.row
  .col-9 Elyandra Esport
  .col-3 220
.row
  .col-9 Unfazed Esport
  .col-3 220
.row
  .col-9 BE HUMBLE
  .col-3 220
