h3 Classement
hr

.row
  .col-9 Lunary
  .col-3 650
.row
  .col-9 Zephyr Esport
  .col-3 540
.row
  .col-9 Got2Game
  .col-3 425
.row
  .col-9 Bastille Legacy
  .col-3 425
.row
  .col-9 BlackMice
  .col-3 260
.row
  .col-9 Omerix Esport
  .col-3 260
.row
  .col-9 Powners
  .col-3 260
.row
  .col-9 C'est cadeau
  .col-3 260
.row
  .col-9 DragonFly
  .col-3 110
.row
  .col-9 Teh le Zoo
  .col-3 110
.row
  .col-9 Reflex Esport Club
  .col-3 110
.row
  .col-9 MetaFun
  .col-3 110
.row
  .col-9 Alphas Slayers
  .col-3 110
.row
  .col-9 Rocalys
  .col-3 110
.row
  .col-9 Elyandra Esport
  .col-3 110
.row
  .col-9 ADN Black
  .col-3 110
