h3 Classement
hr

.row
  .col-9 Bastille Legacy
  .col-3 3115
.row
  .col-9 IziDream
  .col-3 2950
.row
  .col-9 Lunary
  .col-3 2635
.row
  .col-9 Opportunity Esport
  .col-3 1535
.row
  .col-9 GameWard
  .col-3 1480
.row
  .col-9 Alphas Slayers
  .col-3 1430
.row
  .col-9 Unfazed Esport
  .col-3 1295
.row
  .col-9 Zephyr Esport
  .col-3 1020
.row
  .col-9 OUI OUI
  .col-3 890
.row
  .col-9 Hegemonia
  .col-3 740
.row
  .col-9 Elyandra Esport
  .col-3 700
.row
  .col-9 Konix Esport
  .col-3 700
.row
  .col-9 Bunker eSport
  .col-3 480
.row
  .col-9 GalactiX Esport
  .col-3 440
.row
  .col-9 Omerix
  .col-3 370
