h3 Classement
hr

.row
  .col-9 Bastille Legacy
  .col-3 2150
.row
  .col-9 Lunary
  .col-3 1950
.row
  .col-9 IziDream
  .col-3 1650
.row
  .col-9 LF structure
  .col-3 1370
.row
  .col-9 Zephyr Esport
  .col-3 1020
.row
  .col-9 Opportunity Esport
  .col-3 850
.row
  .col-9 Unfazed Esport
  .col-3 760
.row
  .col-9 Hegemonia
  .col-3 630
.row
  .col-9 Alphas Slayers
  .col-3 630
.row
  .col-9 Konix Esport
  .col-3 590
.row
  .col-9 Omerix Esport
  .col-3 370
.row
  .col-9 Bunker eSport
  .col-3 370
.row
  .col-9 Team Oplon
  .col-3 370
.row
  .col-9 Elyandra Esport
  .col-3 330
.row
  .col-9 Neon's Rebirth
  .col-3 260
