h3 Classement
hr

.row
  .col-9 Bastille Legacy
  .col-3 2690
.row
  .col-9 IziDream
  .col-3 2300
.row
  .col-9 Lunary
  .col-3 2210
.row
  .col-9 Opportunity Esport
  .col-3 1535
.row
  .col-9 GameWard
  .col-3 1480
.row
  .col-9 Unfazed Esport
  .col-3 1185
.row
  .col-9 Zephyr Esport
  .col-3 1020
.row
  .col-9 Alphas Slayers
  .col-3 890
.row
  .col-9 Konix Esport
  .col-3 700
.row
  .col-9 Hegemonia
  .col-3 630
.row
  .col-9 OUI OUI
  .col-3 630
.row
  .col-9 Elyandra Esport
  .col-3 440
.row
  .col-9 GalactiX Esport
  .col-3 440
.row
  .col-9 Omerix
  .col-3 370
.row
  .col-9 Bunker eSport
  .col-3 370
