extends layout

block content
  .row
    .col-md-8
      h1 OpenTour - Etape 2
      hr
      .row
        .col-md-6
          ul
            li
              a(href='https://battlegrounds.leagueoflegends.com/ZuQFZNciJfuaM2Pv7LA747GT/brackets/844', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
            li
              a(href='https://battlegrounds.leagueoflegends.com/N4bbT45Y5LAj7FiWYB1SH1kx', role='button', target="_blank", rel="noopener") Arbre phase finale

      h6.font-weight-bolder 16e
      .row
        .col-md-6
          div
            span Lunary
            span  vs Team Delta Project
          div
            span Unfazed Esport vs
            span  EGIRL POWER ^^
          div
            span C'est cadeau
            span  vs TNBD Esport
          div
            span Konix Esport
            span  vs Refuse Resist
          div
            span Bastille Legacy
            span  vs Etat Arcanique
          div
            span Bunker eSport
            span  vs IKEA Esport Club
          div
            span BlackMice
            span  vs Galactix Esport
          div
            span Rocalys vs
            span  Opportunity Esport
        .col-md-6
          div
            span Zephyr Esport
            span  vs LDV Meteor
          div
            span Elan DEspoir FR
            span  vs GameWard
          div
            span Powners
            span  vs Same Blood Esport
          div
            span MetaFun
            span  vs Project Conqueror
          div
            span On Sait Pas
            span  vs Warthox Esport
          div
            span Elyandra Esport vs
            span  Try Out Madness
          div
            span Omerix Esport
            span  vs Exalty Parasol de Pluie
          div
            span.text-bold Alphas Slayers
            span.text-bold  vs PCS Improve

      hr
      .row
        .col-md-6
          h6 Equipes présélectionnées top 16
          ul
            li Lunary
            li Zephyr Esport
            li Got2Game
            li Bastille Legacy
            li BlackMice
            li Omerix Esport
            li Powners
            li C'est cadeau
            li Konix Esport
            li MetaFun
            li Alphas Slayers
            li Rocalys
            li Bunker eSport
            li Elyandra Esport
            li Elan DEspoir FR
            li Unfazed Esport
        .col-md-6
          h6 Equipes qualifiées samedi
          ul
            li EGIRL POWER ^^
            li Team Delta Project
            li Refuse Resist
            li TNBD Esport
            li IKEA Esport Club
            li Etat Arcanique
            li Opportunity Esport
            li Galactix Esport
            li GameWard
            li LDV Meteor
            li Project Conqueror
            li Same Blood Esport
            li Try Out Madness
            li Warthox Esport
            li PCS Improve
            li Exalty Parasol de Pluie

    .col-md-4
      include partials/ranking

