extends layout

block content
  .row
    .col-md-8
      h1 OpenTour Live
      p.lead Tout sur l'Open Tour League of Legends
      hr
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/v4Kc1fTk33SwLA7kPsNUYD1p/brackets/798', role='button') Arbre phase préliminaire
        li
          p Arbre phase finale
      h6 Equipes présélectionnées top 16
      ul
        li DragonFly
        li BlackMice
        li Bastille Legacy
        li Reflex Esport Club
        li C'est cadeau
        li Elyandra Esport
        li Oplon
        li Teh le Zoo
        li Lunary
        li Zephyr Esport
        li Powners
        li GameWard
        li Got2Game
        li Unfazed Esport
        li team de Krakmo
        li Warthox Esport

    .col-md-4
      h3 Streams en cours
      hr

      for stream in streams
        stream(id=stream.twitch_id, title=stream.title, name=stream.name)
