extends layout

block content
  .row
    .col-md-8
      h1 OpenTour - Etape 3
      hr
      .row
        .col-md-6
          ul
            li
              a(href='https://battlegrounds.leagueoflegends.com/vMDCgWBUWScwXfhHmLQEvGPw/brackets/933', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
            li
              a(href='https://battlegrounds.leagueoflegends.com/aLGxfkUv4SjKWxkB7u29iq38/brackets/936', role='button', target="_blank", rel="noopener") Arbre phase finale

      hr
      .row
        .col-md-6
          h6 Equipes présélectionnées top 16
          ul
            li Bastille Legacy
            li Omerix Esport
            li Zephyr Esport
            li Team Oplon
            li LF structure
            li BE HUMBLE
            li IziDream
            li Galactix Esport
            li Lunary
            li Unfazed Esport
            li Alphas Slayers
            li Konix Esport
            li Opportunity Esport
            li Elyandra Esport
            li Bunker Esport
            li RileyReid Esport
        .col-md-6
          h6 Equipes qualifiées samedi
          ul
            li Academy
            li GameWard
            li Utopia
            li Top 1 ou Rien
            li Wandreamer
            li Warthox Esport
            li SHIELD E-Sports
            li Les Sans R
            li Footing Sur L'Autoroute
            li Challenger du Q
            li Ignis Project
            li Pandaria Esport
            li MetaFun
            li Les Bonobos Sauvages
            li Seren
            li Neon's Rebirth

    .col-md-4
      include partials/ranking

