extends layout

block content
  .row
    .col-md-8
      h1 OpenTour - Etape 5
      hr
      .row
        .col-md-6
          ul
            li
              a(href='https://battlegrounds.leagueoflegends.com/LrjrBP6FzaFzVo8GMMw7DJtZ/brackets/951', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
            li
              a(href='https://battlegrounds.leagueoflegends.com/EPb1RatXfMXvopAMviwKrPUR/brackets/956', role='button', target="_blank", rel="noopener") Arbre phase finale

      hr
      .row
        .col-md-6
          h6 Equipes présélectionnées top 16
          ul
            li Bastille Legacy
            li No Ego Player
            li OUI OUI
            li Elyandra Esport
            li Opportunity Esport
            li Ignis Project
            li Konix Esport
            li Lunary
            li Unfazed Esport
            li Mixte Entre Amis
            li GameWard
            li Zephyr Esport
            li IZIDream
            li Seren
            li Neon's Rebirth
            li Galactix Esport
        .col-md-6
          h6 Equipes qualifiées samedi
          ul
            li MetaFun
            li BlackMice
            li Challenger du Q
            li Elkara Miltonia
            li 13Utopik
            li Pandaria Esport
            li Olympe T1
            li Omerix Esport
            li Sanctum T1
            li GG CALL NASH
            li SHIELD E-Sports
            li Alphas Slayers
            li Pulsia Esport Club
            li Hegemonia
            li Les sans R
            li Bunker E-Sport

    .col-md-4
      include partials/ranking

