extends layout

block content
  .row
    .col-md-8
      h1 OpenTour - Etape 6
      hr
      .row
        .col-md-6
          ul
            li
              a(href='https://battlegrounds.leagueoflegends.com/LrjrBP6FzaFzVo8GMMw7DJtZ/brackets/951', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
            li
              a(href='https://battlegrounds.leagueoflegends.com/xHxqnyGZm9gwBSUBEcPk16Uj/brackets/968', role='button', target="_blank", rel="noopener") Arbre phase finale

      hr
      .row
        .col-md-6
          h6 Equipes présélectionnées top 16
          ul
            li IZIDream
            li GG Call Nash
            li Sanctum T1
            li Galactix Esport
            li Opportunity Esport
            li Konix Esport
            li Lunary
            li GameWard
            li Bastille Legacy
            li BlackMice
            li OUI OUI
            li Seren
            li Unfazed Esport
            li Elyandra Esport
            li Alphas Slayers
            li Team Mystère
        .col-md-6
          h6 Equipes qualifiées samedi
          ul
            li Hybris
            li Rocalys
            li SHIELD E-Sports
            li 13Utopik
            li Olympe T1
            li Hegemonia
            li BGO Alpha
            li Bunker E-Sport
            li Auroras 6
            li RileyReid Esport
            li The Kingdom of Demacia
            li Ares Project
            li Ban Akali Pls
            li Omerix Esport
            li Elkara Miltonia
            li Zephyr Esport

    .col-md-4
      include partials/ranking

