extends layout

block content
  .row
    .col-md-8
      h1 OpenTour - Etape 2
      hr
      .row
        .col-md-6
          ul
            li
              a(href='https://battlegrounds.leagueoflegends.com/ZuQFZNciJfuaM2Pv7LA747GT/brackets/844', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
            li
              a(href='https://battlegrounds.leagueoflegends.com/N4bbT45Y5LAj7FiWYB1SH1kx', role='button', target="_blank", rel="noopener") Arbre phase finale
      .row
        .col-md-6
          h6 Equipes présélectionnées top 16
          ul
            li Lunary
            li Zephyr Esport
            li Got2Game
            li Bastille Legacy
            li BlackMice
            li Omerix Esport
            li Powners
            li C'est cadeau
            li Konix Esport
            li MetaFun
            li Alphas Slayers
            li Rocalys
            li Bunker eSport
            li Elyandra Esport
            li Elan DEspoir FR
            li Unfazed Esport
        .col-md-6
          h6 Equipes qualifiées samedi
          ul
            li EGIRL POWER ^^
            li Team Delta Project
            li Refuse Resist
            li TNBD Esport
            li IKEA Esport Club
            li Etat Arcanique
            li Opportunity Esport
            li Galactix Esport
            li GameWard
            li LDV Meteor
            li Project Conqueror
            li Same Blood Esport
            li Try Out Madness
            li Warthox Esport
            li PCS Improve
            li Exalty Parasol de Pluie

    .col-md-4
      include partials/ranking

