extends layout

block content
  .jumbotron
    .row
      .col-md-8
        h1 OpenTour Live
        p.lead Tout sur l'Open Tour League of Legends
        hr
        p
          a.btn.btn-raised(href='#', role='button') View details »
      .col-md-4
        h3 Streams en cours
        hr

        .row.mb-3
          .col-3
            img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/be3ca46d-f9e6-465e-9aa3-6ff30b4e1f9e-profile_image-70x70.jpeg")
          .col-9
            h4 Gob GG
            p.card-subtitle.text-muted Reflex vs Zephyr Esport

        .row.mb-3
          .col-3
            img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/8c55fdc6-9b84-4daf-a33b-cb318acbf994-profile_image-70x70.png")
          .col-9
            h4 OverwatchLeague
            p.card-subtitle.text-muted GameWard vs C'est cadeau

        .row.mb-3
          .col-3
            img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/1e120ba5-5532-4a1d-847a-4c87a51637f1-profile_image-70x70.jpeg")
          .col-9
            h4 LVPUK
            p.card-subtitle.text-muted DragonFly vs Elyandra esport
