extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 4
        .col-12
          p.lead 06-07 July 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/pG7RHBrLtj7oL9cNhqajusK5/brackets/945', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/CdRmqirM4MvQr86Z9n1zFn8w/brackets/946', role='button', target="_blank", rel="noopener") Arbre phase finale
  hr
  .row
    .col-md-3
      h6.font-weight-bolder 16e
      div
        span.text-primary Bastille Legacy
        span  vs Academy
      div
        span Omerix Esport vs
        span.text-primary  GameWard
      div
        span.text-primary Zephyr Esport
        span  vs Utopia
      div
        span.text-primary Team Oplon
        span  vs Top 1 ou rien
      div
        span.text-primary LF structure
        span  vs Wandreamer
      div
        span BE HUMBLE vs
        span.text-primary  Warthox Esport
      div
        span.text-primary IziDream
        span  vs SHIELD E-Sports
      div
        span.text-primary Galactix Esport
        span  vs Les Sans R
      div
        span.text-primary Lunary
        span  vs Footing sur L'Autoroute
      div
        span.text-primary Unfazed Esport
        span  vs Challenger du Q
      div
        span Alphas Slayers vs
        span.text-primary  Ignis Project
      div
        span.text-primary Konix Esport
        span  vs Pandaria Esport
      div
        span.text-primary Opportunity Esport
        span  vs Metafun
      div
        span.text-primary Elyandra Esport
        span  vs Les Bonobos Sauvages
      div
        span Bunker eSport vs
        span.text-primary  Seren
      div
        span RileyReid Esport vs
        span.text-primary  Neon's Rebirth

    .col-md-3
      h6.font-weight-bolder 8e
      div
        span GameWard vs
        span.text-primary   Bastille Legacy
      div
        span Zephyr Esport vs
        span.text-primary   Team Oplon
      div
        span Warthox Esport vs
        span.text-primary  LF structure
      div
        span Galactix Esport vs
        span.text-primary  IziDream
      div
        span Lunary vs
        span.text-primary  Unfazed Esport
      div
        span.text-primary Konix Esport
        span  vs Ignis Project
      div
        span Elyandra Esport vs
        span.text-primary  Opportunity Esport
      div
        span.text-primary Neon's Rebirth
        span  vs Seren

    .col-md-3
      h6.font-weight-bolder Quarts
      div
        span Team Oplon vs
        span.text-primary  Bastille Legacy
      div
        span LF structure vs
        span.text-primary   IziDream
      div
        span Konix Esport vs
        span.text-primary   Unfazed Esport
      div
        span.text-primary Opportunity Esport
        span  vs Neon's Rebirth

    .col-md-3
      h6.font-weight-bolder Demis
      div
        span.text-primary Bastille Legacy
        span  vs IziDream
      div
        span Opportunity Esport vs
        span.text-primary  Unfazed Esport
      hr
      h6.font-weight-bolder Finale
      div
        span.text-primary Bastille Legacy 2 
        span  vs 0 Unfazed Esport
  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li Bastille Legacy
          .team JDG, Ashanome, Diablo, Seelame, Akutsune
        li Omerix Esport
          .team Eyliph, Damarros, Chreak, Jesus, Vactator
        li Zephyr Esport
          .team Sun Bro, Zokato, Spadur, Saxuralle, Sarevain
        li Team Oplon
          .team Slt, Showkz, Pak, iWa, ToDorokki
        li LF structure
          .team Ushuala, Nicktron, Jiren, Sevensen, Malorf
        li BE HUMBLE
          .team Revolt, Rozara, Shinbu, Yøung Ðeutsch, Number moon
        li IziDream
          .team Vince, Bloody, Toucouille, LaFleur, Nolan
        li Galactix Esport
          .team Nozpy, Flachony, EKADONGER, Drifter, Snarpis
        li Lunary
          .team Myw, Zatos, Melon, Tioo, Sharkk
        li Unfazed Esport
          .team Senzu, Zenoz, Vulca, Sakkyen, Sengleur
        li Alphas Slayers
          .team Lingwi, Wydzz, Krakmo, Frappii, Rx Dye
        li Konix Esport
          .team Wylënz, Boukada, Einard, Jaylink, Wixo0
        li Opportunity Esport
          .team Octomalus, SoulRey, Tziz, Jujutw0, Helaz
        li Elyandra Esport
          .team OneforOne, Taikumi, Rhobalas, Araignée, Wylfer
        li Bunker Esport
          .team Loop, Gros Poisson, Kazeyami, Hydrale, Nîmu
        li RileyReid Esport
          .team o ptn qi de 143, Music is Win, ScriptingIsLife, Terseras, mattgaming07
    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li Academy
          .team Oly Le Gros Kiwi, Oly Exa, NatiLord, kQrina, CsA Yinmòón
        li GameWard
          .team NooB, Dopaminw, Yasuneri, Dolonoy, Veignorem
        li Utopia
          .team Binow, rororoms, Guardiann, Raphinus, Benaset
        li Top 1 ou Rien
          .team ZONGO LE DOZO, Shodaime, Polyokov, Ted Livingston, Kin Yang
        li Wandreamer
          .team Aristochrate, OtaG, PowAh, Mayd, GtxÐ
        li Warthox Esport
          .team Ethinak, Cedeix, Numandiel, IvanDragović, ArchLL
        li SHIELD E-Sports
          .team Wirty, Sonce, Parazyte, Serac, Atomise
        li Les Sans R
          .team Zicssiflay, Le Péni de Yoda, Répulsif, MITRIX, La Bessonade
        li Footing Sur L'Autoroute
          .team Hidons Hoe, Findus, Vétheo, NoTiixX, Raïtö
        li Challenger du Q
          .team Dyemon, Kart Senpai, iPepito, CarTmaN, Kanryuu
        li Ignis Project
          .team Monstrob, Onii, Prad, DezayD, FaastLife
        li Pandaria Esport
          .team Athor, LhodKa, Pacou, Maskas, Lyrith
        li MetaFun
          .team HaZZ, Popol Armé LV3, Cassiotpéia, The French Kiss, Kïnn
        li Les Bonobos Sauvages
          .team Fire Spirit, Guertas, Inugami, Cobble, Patr3ote
        li Seren
          .team Zandeclaugur, Shamber, Rolinse, Stalki, 9rwblueSJKw
        li Neon's Rebirth
          .team NR Rèmember, Jungler Tax, Silons, Grec bien géchar, GBS Stend
