extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 5
        .col-12
          p.lead 03-04 Août 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/LrjrBP6FzaFzVo8GMMw7DJtZ/brackets/951', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/EPb1RatXfMXvopAMviwKrPUR/brackets/956', role='button', target="_blank", rel="noopener") Arbre phase finale
  hr
  .row
    .col-md-3
      h6.font-weight-bolder 16e
      div
        span.text-primary Bastille Legacy
        span  vs MetaFun
      div
        span No Ego Player vs
        span.text-primary  BlackMice
      div
        span.text-primary OUI OUI
        span  vs Challenger du Q
      div
        span.text-primary Elyandra Esport
        span  vs Elkara Miltonia
      div
        span.text-primary Opportunity Esport
        span  vs 13Utopik
      div
        span.text-primary Ignis Project
        span  vs Pandaria Esport
      div
        span.text-primary Konix Esport
        span  vs Olympe T1
      div
        span.text-primary Lunary
        span  vs Omerix Esport
      div
        span.text-primary Unfazed Esport
        span  vs Sanctum T1
      div
        span.text-primary Mixte Entre Amis
        span  vs GG CALL NASH
      div
        span.text-primary GameWard
        span  vs SHIELD E-Sports
      div
        span Zephyr Esport vs
        span.text-primary  Alphas Slayers
      div
        span.text-primary IZIDream
        span  vs Pulsia Esport Club
      div
        span.text-primary Seren
        span  vs Hegemonia
      div
        span Neon's Rebirth vs
        span.text-primary  Les sans R
      div
        span.text-primary Galactix Esport
        span  vs Bunker E-Sport

    .col-md-3
      h6.font-weight-bolder 8e
      div
        span.text-primary Bastille Legacy
        span  vs BlackMice
      div
        span Elyandra Esport vs
        span.text-primary   OUI OUI
      div
        span.text-primary Opportunity Esport
        span  vs Ignis Project
      div
        span.text-primary Lunary
        span  vs Konix Esport
      div
        span.text-primary Unfazed Esport
        span  vs Mixte Entre Amis
      div
        span.text-primary Alphas Slayers
        span  vs GameWard
      div
        span.text-primary IZIDream
        span  vs  Seren
      div
        span Galactix Esport vs
        span.text-primary  Les sans R

    .col-md-3
      h6.font-weight-bolder Quarts
      div
        span.text-primary  Bastille Legacy
        span  vs OUI OUI
      div
        span.text-primary Opportunity Esport
        span  vs Lunary
      div
        span Alphas Slayers vs
        span.text-primary   Unfazed Esport
      div
        span.text-primary IZIDream
        span  vs Les sans R

    .col-md-3
      h6.font-weight-bolder Demis
      div
        span.text-primary Bastille Legacy
        span  vs Opportunity Esport
      div
        span.text-primary IZIDream
        span  vs Unfazed Esport
      hr
      h6.font-weight-bolder Finale
      div
        span.text-primary Bastille Legacy 0
        span  vs 1 IZIDream
  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li Bastille Legacy
          .team JDG, Ashanome, Diablo, Seelame, Akutsune
        li No Ego Player
          .team Tobi4, Valyrian, Se7en, Terseras, Ioni
        li OUI OUI
          .team Slt, Showkz, Pak, iWa, ToDorokki
        li Elyandra Esport
          .team OneforOne, s1eep is good, Ziix Sayõ, Adrenaline1, Solen
        li Opportunity Esport
          .team Octomalus, SoulRey, Yasuneri, Jujutw0, Helaz
        li Ignis Project
          .team Monstrob, Fanta, Prad, Rog974, Rakolo
        li Konix Esport
          .team Wylënz, Akabane, Einard, Jaylink, Wylfer
        li Lunary
          .team Soaz, Chap, Melon, Tioo, Sharkk
        li Unfazed Esport
          .team Senzu, Zenoz, Vulca, Sakkyen, Sengleur
        li Mixte Entre Amis
          .team Noob, Dopaminw, Vétheo, Jesus, Veignorem
        li GameWard
          .team Ushuala, Nicktron, Shinbu, Sevensen, Malorf
        li Zephyr Esport
          .team Sun Bro, Zokato, Spadur, Saxuralle, Sarevain
        li IZIDream
          .team Vince, Bloody, Toucouille, LaFleur, Nolan
        li Seren
          .team Zima, Shamber, Rolinse, Stalki, Bora
        li Neon's Rebirth
          .team Remember, Jungler Tax, Silons, Grec, Stend
        li Galactix Esport
          .team Ethinak, Censuré, Oxigod, Hitsu, Snarpy
    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li MetaFun
          .team HaZZ, Lah Grosse Moula, Hisokards, Vespa, 19 8 9 14 25
        li BlackMice
          .team Damarros, Eyliph, kaponac, f0cus, Advienne
        li Challenger du Q
          .team Dyemon, Spoon, iPepito, CarTmaN, Kanryuu
        li Elkara Miltonia
          .team MrFright, Flachony, Shyn, Sididi, Lusciana
        li 13Utopik
          .team Fire Spirit, Rozara, Unleash, Senpai, Haykou
        li Pandaria Esport
          .team Athor, Stormax, SkySharingan, PurePerfect, Hazen
        li Olympe T1
          .team Daemon, Woodanaz, Makoto, Raykko Sama, Yadriels
        li Omerix Esport
          .team ApiShiro, rororoms, Reus, Globulus, Vactator
        li Sanctum T1
          .team Enva, OtaGsan, Totosse, TessTary, BOURINATEUR
        li GG CALL NASH
          .team TamoZ, Guertas, Inugami, Cobble, Raito
        li SHIELD E-Sports
          .team Wirty, Slay, Parazyte, MasskasKing, Atomise
        li Alphas Slayers
          .team Lingwi, Wydzz, Krakmo, Frappii, Rx Dye
        li Pulsia Esport Club
          .team DiamondTurtle, eaRyz, Belette, Seedmar, ClimbMTargon
        li Hegemonia
          .team AnKa, Taikumi, Numandiel, Drifter, Honor
        li Les sans R
          .team Répulsif, Zicssiflay, La Bessonade, MITRIX, momodu18
        li Bunker E-Sport
          .team Loop, BoogieKing, Tsugara, Hydrale, Nimu
