extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 1
        .col-12
          p.lead 02-03 Mars 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/v4Kc1fTk33SwLA7kPsNUYD1p/brackets/798', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/122x1M9hQ4g8fKN2wHYJamNZ/brackets/799', role='button', target="_blank", rel="noopener") Arbre phase finale
  hr
  .row
    .col-md-3
      h6.font-weight-bolder 16e
      div
        span.text-primary DragonFly
        span  vs Shield Esport Black
      div
        span Warthox Esport vs
        span.text-primary  Omerix Old
      div
        span.text-primary Teh le Zoo
        span  vs BattlePlays
      div
        span.text-primary Lunary
        span  vs Metaleak Academy
      div
        span.text-primary Reflex Esport Club
        span  vs Elan d'Espoir FR
      div
        span.text-primary Got2Game
        span  vs Eden Luxus A
      div
        span.text-primary C'est cadeau
        span  vs 1 Girl 4 Retards
      div
        span GameWard vs
        span.text-primary  Metafun
      div
        span.text-primary BlackMice
        span  vs The Greedy Climb
      div
        span.text-primary Alpha Slayers
        span  vs Good Guys Only
      div
        span.text-primary Oplon
        span  vs Rocalys
      div
        span.text-primary Zephyr Esport
        span  vs Seren
      div
        span.text-primary Bastille Legacy
        span  vs LEF Ragnarok
      div
        span Unfazed Esport vs
        span.text-primary  ADNBlack
      div
        span.text-primary Elyandra Esport
        span  vs 777
      div
        span.text-primary Powners
        span  vs LDV Meteor

    .col-md-3
      h6.font-weight-bolder 8e
      div
        span.text-primary Omerix Old
        span  vs DragonFly
      div
        span Teh le Zoo vs
        span.text-primary  Lunary
      div
        span.text-primary Got2Game
        span  vs Reflex Esport Club
      div
        span Metafun vs
        span.text-primary  C'est cadeau
      div
        span Alpha Slayers vs
        span.text-primary  BlackMice
      div
        span.text-primary Zephyr Esport
        span  vs Rocalys
      div
        span.text-primary Bastille Legacy
        span  vs ADNBlack
      div
        span Elyandra Esport vs
        span.text-primary  Powners

    .col-md-3
      h6.font-weight-bolder Quarts
      div
        span Omerix Old vs
        span.text-primary  Lunary
      div
        span C'est cadeau vs
        span.text-primary  Got2Game
      div
        span.text-primary Zephyr Esport vs
        span  BlackMice
      div
        span Powners vs
        span.text-primary  Bastille Legacy

    .col-md-3
      h6.font-weight-bolder Demis
      div
        span.text-primary Lunary
        span  vs Got2Game
      div
        span.text-primary Zephyr Esport
        span  vs Bastille Legacy
      hr
      h6.font-weight-bolder Finale
      div
        span Lunary
        span  vs Zephyr Esport


  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li DragonFly
          .team Répulsif, Zicssiflay, Mitrix, Maskas, Faibou
        li BlackMice
          .team Womba, Vinxen, Toucouille, Sakkyen, Nolan
        li Bastille Legacy
          .team JDG, Ashanome, Decay, Seelame, Akutsune
        li Reflex Esport Club
          .team GobGG, Rozara, Eyhro, Terseras, Veignorem
        li C'est cadeau
          .team Teadrinker, D4nKa, Spuiiky, f0cus, Temari
        li Elyandra Esport
          .team NooB, Zyneste, Rhobalas, Araignée, ToDorokki
        li Oplon
          .team Salut à tous, Zenoz, Pak, NoTiixX, Kinn
        li Teh le Zoo
          .team Wylënz, Boukada, Einard, Jaylink, Kanryuu
        li Lunary
          .team LRB, Narkuss, Melon, Chap, Sharkk
        li Zephyr Esport
          .team Octomalus, Findus, Frappii, Chroniik, Benaset
        li Powners
          .team Ushuala, Akame, Se7en, Seth, Malorf
        li GameWard
          .team Tamoz, SoulRey, Yasuneri, Dolonoy, Wixo0
        li Got2Game
          .team Vince, Bloody, Vulca, LaFleur, Sengleur
        li Unfazed Esport
          .team Binow, UnknownPredator, Astugar, AD is my PAYDAY, Rakolo
        li Alpha Slayers
          .team Lingwi, Wydzz, Krakmo, Frozzy, Rx Dye
        li Warthox Esport
          .team Ethinak, Pelo, Drifter, Saxuralle, Snarpis
    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li Omerix Old
          .team Eyliph, Damarros, SkySharingan, Jesus, Vactator
        li Shield Esport Black
          .team Zviar, Sonce, MFF, inTime, Hjorgrim
        li Metaleak Academy
          .team Sanah, Evey, Efi, Master360LP, Pwesci
        li BattlePlays
          .team LePtiPilou, Schneckzer, Xeltop, Piquau, ShadOw
        li Eden Luxus A
          .team Princess Krao, Popol Armé LV3, 147 IQ BUT STUCK, TirkineYR, Zest
        li Elan d'Espoir FR
          .team OneForOne, Showkz, Diablo, iWa, ClimbMTargon
        li Metafun
          .team Kaliganer, Coach, Scav, tolito10, Blitzou
        li 1 Girl 4 Retards
          .team Spaiike, Over, NRV, Wrex, Iza
        li Good Guys Only
          .team inugami, Kunsyde, Numandiel, Soraï, Ekaos
        li The Greedy Climb
          .team TamTam, EdNewgate, GREEDY, Isomorphik, Qiuby
        li Seren
          .team zima, gi jo93160, Stalki, Moplio, Bora
        li Rocalys
          .team Seminol, Koni, Odin Jo, Rafale, FrenzySama
        li ADNBlack
          .team Loop, Le Rédempteur, Kazeyami, Hydrale, Nimu
        li LEF Ragnarok
          .team Oikk, Kharma, Yoko, matiaslaclasse, Hitake
        li LDV Meteor
          .team DiggerWacks, Ahswod, Shinbu, JetonS, Rakhoon
        li 777
          .team Riip, Taour, Polyokov, Pureperfect, Damgos
