extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 6
        .col-12
          p.lead 31-01 Août/Septembre 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/LrjrBP6FzaFzVo8GMMw7DJtZ/brackets/951', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/xHxqnyGZm9gwBSUBEcPk16Uj/brackets/968', role='button', target="_blank", rel="noopener") Arbre phase finale
  hr
  .row
    .col-md-3
      h6.font-weight-bolder 16e
      div
        span.text-primary IZIDream
        span  vs Hybris
      div
        span.text-primary GG Call Nash
        span  vs Rocalys
      div
        span.text-primary Sanctum T1
        span  vs Shield E-Sports
      div
        span Galactix Esport vs
        span.text-primary  13Utopik
      div
        span.text-primary Opportunity Esport
        span  vs Olympe T1
      div
        span Konix Esport vs
        span.text-primary   Hegemonia
      div
        span.text-primary Lunary
        span  vs BGO Alpha
      div
        span GameWard vs
        span.text-primary  Bunker Esport
      div
        span.text-primary Bastille Legacy
        span  vs Auroras 6
      div
        span BlackMice vs
        span.text-primary  RileyReid Esport
      div
        span.text-primary OUI OUI
        span  vs The Kingdom of Demacia
      div
        span Seren vs
        span.text-primary  Ares Project
      div
        span.text-primary Unfazed Esport
        span  vs Ban Akali Pls
      div
        span.text-primary Elyandra Esport
        span  vs Omerix Esport
      div
        span.text-primary Alphas Slayers
        span  vs Elkara Miltonia
      div
        span.text-primary Team Mystère
        span  vs Zephyr Esport

    .col-md-3
      h6.font-weight-bolder 8e
      div
        span.text-primary IZIDream
        span  vs GG Call Nash
      div
        span Sanctum T1 vs
        span.text-primary  13 Utopik
      div
        span.text-primary Opportunity Esport
        span  vs Hegemonia
      div
        span.text-primary Lunary
        span  vs Bunker Esport
      div
        span.text-primary Bastille Legacy
        span  vs RileyReid Esport
      div
        span.text-primary OUI OUI
        span  vs Ares Project
      div
        span.text-primary Elyandra Esport
        span  vs  Unfazed Esport
      div
        span Team Mystère vs
        span.text-primary  Alphas Slayers

    .col-md-3
      h6.font-weight-bolder Quarts
      div
        span.text-primary  13 Utopik
        span  vs IZIDream
      div
        span.text-primary Lunary
        span  vs Opportunity Esport
      div
        span.text-primary Bastille Legacy
        span  vs OUI OUI
      div
        span.text-primary Alphas Slayers
        span  vs Elyandra Esport

    .col-md-3
      h6.font-weight-bolder Demis
      div
        span.text-primary IZIDream
        span  vs Lunary
      div
        span Bastille Legacy vs
        span.text-primary  Alphas Slayers
      hr
      h6.font-weight-bolder Finale
      div
        span Alphas Slayers 0
        span  vs 0 IZIDream
  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li IZIDream
          .team Vince, Bloody, Toucouille, LaFleur, Nolan
        li GG Call Nash
          .team Pathéoche, Guertas, Inugami, Cobble, Raïto
        li Sanctum T1
          .team Répulsif, Zicssiflay, Miku Nakano, MITRIX, Bourinateur
        li Galactix Esport
          .team OneforOne, Boosted Asian, Sayonara, SupportingTyTy, Benaset
        li Opportunity Esport
          .team Octomalus, SoulRey, Yasuneri, Jujutw0, Helaz
        li Konix Esport
          .team Wylenz, Akabane, Einard, Jaylink, Wixo0
        li Lunary
          .team LRB, Chap, Melon, Tioo, Shark
        li GameWard
          .team Ushuala, Nicktron, Shinbu, Sevensen, Malorf
        li Bastille Legacy
          .team JDG, Ashanome, Diablo, Seelame, Akutsune
        li BlackMice
          .team Eyliph, Damarros, kaponac, f0cus, Advienne
        li OUI OUI
          .team Slt, Showkz, Pak, iWa, ToDorokki
        li Seren
          .team Zima, Inkr0ma, Alpha Bravo, Stalki, Bora
        li Unfazed Esport
          .team Senzu, Zenoz, Vulca, Sakkyen, Sengleur
        li Elyandra Esport
          .team Athor, Stormax, Pacou, Pandore, Hazen
        li Alphas Slayers
          .team Lingwi, Wydzz, Krakmo, Frappii, Rx Dye
        li Team Mystère
          .team NooB, Boukada, Jiren, Jesus, Veignorem

    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li Hybris
          .team jakoule, Nunu the insane, Scav, Vesper, Drogon
        li Rocalys
          .team Seminol, RESH, Tsugara, Rafale, Aylexor
        li SHIELD E-Sports
          .team Wirty, Slay, Tziz, Maskas, Atomise
        li 13Utopik
          .team Enva, Rozara, Unleash, Senpai, Haykou
        li Olympe T1
          .team Daemon, Beta, Makoto, RaykkoSama, FrenzySama
        li Hegemonia
          .team Ethinak, Cedeix, Numandiel, Schnekfeu, Snarpis
        li BGO Alpha
          .team Un Random, Ekaos, SunBro, TireurDELITE, Orange
        li Bunker E-Sport
          .team Loop, GROS POISSON, Ixaoh x Spadur, Chroniikk, Kareshi
        li Auroras 6
          .team Mask Declau, Aurore, Sadistic Ape, Mitrooglou, Ironics
        li RileyReid Esport
          .team Tobi4, Reworked Kayle, Princess Lola, Valyrian, Matt
        li The Kingdom of Demacia
          .team Tokor, Nam, Temari, Lynboe, Sobek
        li Ares Project
          .team Monstrob, Onii, Pradouille, Araignée, Stend
        li Ban Akali Pls
          .team Galoup, Greed, JokeBOX, clemeragon, Godwife
        li Omerix Esport
          .team Saso, rororoms, Reus, Globulos, Vactator
        li Elkara Miltonia
          .team MrFright, Flachony, Yce, Doctor Thresh, Exit
        li Zephyr Esport
          .team Nozpy, Zokato, Spadur, Saxuralle, Sarevain
