extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 1
        .col-12
          p.lead 02-03 Mars 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/v4Kc1fTk33SwLA7kPsNUYD1p/brackets/798', role='button') Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/122x1M9hQ4g8fKN2wHYJamNZ/brackets/799', role='button') Arbre phase finale
  hr
  .row
    .col-md-3
      h6.font-weight-bolder 16e
      div
        span.text-primary DragonFly
        span  vs Shield Esport Black
      div
        span Warthox Esport vs
        span.text-primary  Omerix Old
      div
        span.text-primary Teh le Zoo
        span  vs BattlePlays
      div
        span.text-primary Lunary
        span  vs Metaleak Academy
      div
        span.text-primary Reflex Esport Club
        span  vs Elan d'Espoir FR
      div
        span.text-primary Got2Game
        span  vs Eden Luxus A
      div
        span.text-primary C'est cadeau
        span  vs 1 Girl 4 Retards
      div
        span GameWard vs
        span.text-primary  Metafun
      div
        span.text-primary BlackMice
        span  vs The Greedy Climb
      div
        span.text-primary Alpha Slayers
        span  vs Good Guys Only
      div
        span.text-primary Oplon
        span  vs Rocalys
      div
        span.text-primary Zephyr Esport
        span  vs Seren
      div
        span.text-primary Bastille Legacy
        span  vs LEF Ragnarok
      div
        span Unfazed Esport vs
        span.text-primary  ADNBlack
      div
        span.text-primary Elyandra Esport
        span  vs 777
      div
        span.text-primary Powners
        span  vs LDV Meteor

    .col-md-3
      h6.font-weight-bolder 8e
      div
        span.text-primary Omerix Old
        span  vs DragonFly
      div
        span Teh le Zoo vs
        span.text-primary  Lunary
      div
        span.text-primary Got2Game
        span  vs Reflex Esport Club
      div
        span Metafun vs
        span.text-primary  C'est cadeau
      div
        span Alpha Slayers vs
        span.text-primary  BlackMice
      div
        span.text-primary Zephyr Esport
        span  vs Rocalys
      div
        span.text-primary Bastille Legacy
        span  vs ADNBlack
      div
        span Elyandra Esport vs
        span.text-primary  Powners

    .col-md-3
      h6.font-weight-bolder Quarts
      div
        span Omerix Old vs
        span.text-primary  Lunary
      div
        span C'est cadeau vs
        span.text-primary  Got2Game
      div
        span.text-primary Zephyr Esport vs
        span  BlackMice
      div
        span Powners vs
        span.text-primary  Bastille Legacy

    .col-md-3
      h6.font-weight-bolder Demis
      div
        span Lunary vs
        span  Got2Game
      div
        span Zephyr Esport vs
        span  Bastille Legacy

  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li DragonFly
        li BlackMice
        li Bastille Legacy
        li Reflex Esport Club
        li C'est cadeau
        li Elyandra Esport
        li Oplon
        li Teh le Zoo
        li Lunary
        li Zephyr Esport
        li Powners
        li GameWard
        li Got2Game
        li Unfazed Esport
        li Alpha Slayers
        li Warthox Esport
    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li Omerix Old
        li Shield Esport Black
        li Metaleak Academy
        li BattlePlays
        li Eden Luxus A
        li Elan d'Espoir FR
        li Metafun
        li 1 Girl 4 Retards
        li Good Guys Only
        li The Greedy Climb
        li Seren
        li Rocalys
        li ADNBlack
        li LEF Ragnarok
        li LDV Meteor
        li 777
