extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 2
        .col-12
          p.lead 06-07 Avril 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/ZuQFZNciJfuaM2Pv7LA747GT/brackets/844', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/N4bbT45Y5LAj7FiWYB1SH1kx', role='button', target="_blank", rel="noopener") Arbre phase finale

  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li Lunary
          .team LRB, Narkuss, Melon, Chap, Sharkk
        li Zephyr Esport
          .team Octomalus, Findus, Spadur, Chroniik, Benaset
        li Got2Game
          .team Vince, Bloody, Toucouille, LaFleur, Nolan
        li Bastille Legacy
          .team JDG, Ashanome, Decay, Seelame, Akutsune
        li BlackMice
          .team Womba, Rozara, Primacy, Jujutwo, Helaz
        li Omerix Esport
          .team Eyliph, Damarros, SkySharingan, Jesus, Vactator
        li Powners
          .team Ushuala, Akame, Se7en, Seth, Malorf
        li C'est cadeau
          .team Teadrinker, Valyrian, Spuiiki, F0cus, Temari
        li Konix Esport
          .team Wylënz, Boukada, Einard, Jaylink, Kanryuu
        li MetaFun
          .team Kaliganer, Coach, Scav, tolito10, Blitzou
        li Alphas Slayers
          .team Lingwi, Wydzz, Krakmo, Frozzy, Rx Dye
        li Rocalys
          .team Seminol, Koni, Odin Jo, Rafale, FrenzySama
        li Bunker eSport
          .team Loop, Le Rédempteur, Kazeyami, Hydrale, Nimu
        li Elyandra Esport
          .team Répulsif, Shamber, Rhobalas, Araignée, Wylfer
        li Elan DEspoir FR
          .team OneForOne, Showkz, Diablo, iWa, ClimbMTargon
        li Unfazed Esport
          .team Stiles, Marex, Jiren, Sakkyen, Sengleur
    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li EGIRL POWER ^^
          .team dejan1, FLOWRIZER, Princess Lola, Le Rouge et le Noir, Princess Lola
        li Team Delta Project
          .team Enva, OniiiiSama, Prad, DezayD, Yilla
        li Refuse Resist
          .team MrFright, Saitama, Loqui, Sididi, ThePepS
        li TNBD Esport
          .team Monstrob, Imized, Sayonara, Snoop, Bowa
        li IKEA Esport Club
          .team Revolt, CentNomFixe, Vétheo, Senpai, Evalunna
        li Etat Arcanique
          .team OverSharkt, cCocsS, ItaLiaNox, The Duke, Boku
        li Opportunity Esport
          .team Athor, SoulRey, Tsugara, Maskas, Zerazz
        li Galactix Esport
          .team 1 9 placementsNP, Flachony, Echo, Soraï, Yukky
        li GameWard
          .team TamoZ, Vinxen, Yasuneri, Dolonoy, Wixo0
        li LDV Meteor
          .team DiggerWacks, Ahswod, Shinbu, JetonS, Rakhoon
        li Project Conqueror
          .team Dyemon, Jean Pol, Cassiotpéia, CarTmaN, Orange
        li Same Blood Esport
          .team Ekaos, Kunsyde, iPepito, Rog974, Rakolo
        li Try Out Madness
          .team GameGuyu, Zenoz, Eyhro, Frappiito, Veignorem
        li Warthox Esport
          .team Ethinak, Drifter, Pelo, Saxuralle, Snarpis
        li PCS Improve
          .team Binow, Spoon, RonflexShining, TRIGGER ONE ADC, Peng Shi Bart
        li Exalty Parasol de Pluie
          .team Vicy, I Paid 4 Winrar, Mushu, El Incrédiblééé, blade40
