extends ../layout

block content
  .row
    .col-6
      .row
        .col-12
          h1 Etape 3
        .col-12
          p.lead 01-02 Juin 2019
    .col-6
      ul
        li
          a(href='https://battlegrounds.leagueoflegends.com/vMDCgWBUWScwXfhHmLQEvGPw/brackets/933', role='button', target="_blank", rel="noopener") Arbre phase préliminaire
        li
          a(href='https://battlegrounds.leagueoflegends.com/aLGxfkUv4SjKWxkB7u29iq38/brackets/936', role='button', target="_blank", rel="noopener") Arbre phase finale
  hr
  .row
    .col-md-3
      h6.font-weight-bolder 16e
      div
        span.text-primary Lunary
        span  vs ULT Ultima
      div
        span.text-primary Elyandra Esport
        span vs GameWard
      div
        span.text-primary Zephyr Esport
        span  vs 5 LFT
      div
        span.text-primary Unfazed Esport
        span  vs LDV Meteor
      div
        span.text-primary LF structure
        span  vs Jax Chirac
      div
        span Omerix Esport vs
        span.text-primary  BE HUMBLE
      div
        span.text-primary Alphas Slayers
        span  vs Le Cercle
      div
        span.text-primary Galactix Esport
        span  vs Feunix
      div
        span.text-primary IziDream
        span  vs Rocalys
      div
        span.text-primary RileyReid Esport
        span  vs La Vivance
      div
        span.text-primary Opportunity Esport
        span  vs Sava avec un S
      div
        span.text-primary Konix Esport
        span  vs Team Delta Project
      div
        span.text-primary Bastille Legacy
        span  vs Pandaria Esport
      div
        span.text-primary Team Oplon
        span  vs Warthox Esport
      div
        span.text-primary Hegemonia
        span  vs Olympe T1
      div
        span Project Conqueror vs
        span.text-primary  Bunker eSport

    .col-md-3
      h6.font-weight-bolder 8e
      div
        span.text-primary Lunary
        span  vs Elyandra Esport
      div
        span.text-primary Zephyr Esport
        span  vs Unfazed Esport
      div
        span BE HUMBLE vs
        span.text-primary  LF structure
      div
        span Galactix Esport vs
        span.text-primary  Alphas Slayers
      div
        span.text-primary IziDream
        span  vs RileyReid Esport
      div
        span.text-primary Opportunity Esport
        span  vs Konix Esport
      div
        span.text-primary Bastille Legacy
        span  vs Team Oplon
      div
        span.text-primary Bunker eSport
        span  vs Hegemonia

    .col-md-3
      h6.font-weight-bolder Quarts
      div
        span Zephyr Esport vs
        span.text-primary  Lunary
      div
        span.text-primary LF structure
        span  vs Alphas Slayers
      div
        span.text-primary Opportunity Esport
        span vs IziDream
      div
        span.text-primary Bastille Legacy
        span  vs Bunker eSport

    .col-md-3
      h6.font-weight-bolder Demis
      div
        span.text-primary Lunary
        span  vs LF structure
      div
        span.text-primary Bastille Legacy
        span  vs Opportunity Esport
      hr
      h6.font-weight-bolder Finale
      div
        span Lunary 1 vs
        span.text-primary  2 Bastille Legacy
  br
  .row
    .col-md-6
      h6.font-weight-bold Equipes présélectionnées top 16
      ul
        li Lunary
          .team LRB, Narkuss, Melon, Chap, Sharkk
        li Elyandra Esport
          .team OneforOne, Shamber, Rhobalas, Araignée, Wylfer
        li Zephyr Esport
          .team angel fanboy, Findus, Spadur, Saxuralle, Benaset
        li Unfazed Esport
          .team Stiles, Zenoz, Jiren, Sakkyen, Sengleur
        li LF structure
          .team Ushuala, Akame, Se7en, Seth, Malorf
        li Omerix Esport
          .team Eyliph, Damarros, SkySharingan, Jesus, Vactator
        li Alphas Slayers
          .team Lingwi, Wydzz, Krakmo, Frozzy, Rx Dye
        li Galactix Esport
          .team Nozpy, TeamParo, Sayo, Drifter, Xintox
        li IziDream
          .team Vince, Bloody, Toucouille, LaFleur, Nolan
        li RileyReid Esport
          .team Nelisan, Reworked Kayle, Lola, L V, mattgaming07
        li Opportunity Esport
          .team Octomalus, SoulRey, Tziz, Jujutw0, Helaz
        li Konix Esport
          .team Wylënz, Boukada, Einard, Jaylink, Kanryuu
        li Bastille Legacy
          .team JDG, Ashanome, Decay, Seelame, Akutsune
        li Team Oplon
          .team Slt, Showkz, Pak, iWa, ToDorokki
        li Hegemonia
          .team Tobi, D4nKa, Spuiiki, F0cus, Drawleks
        li Project Conqueror
          .team Dyemon, Kart Senpai, ulTRA folle, CarTmaN, Orange
    .col-md-6
      h6.font-weight-bold Equipes qualifiées samedi
      ul
        li ULT Ultima
          .team Zviar, Schneckzer, M U R P H Y, matiaslaclasse, Exit
        li GameWard
          .team NooB, Dopaminw, Yasuneri, Dolonoy, Veignorem
        li 5 LFT
          .team Binow, Spoon, Inugami, NathouLeGrosPorc, El Bartoh
        li LDV Meteor
          .team DiggerWacks, Ahswod, Shinbu, JetonS, Rakhoon
        li Jax Chirac
          .team DiamondTurtle, Amazed Child, BeletteBrutale, Stellar Grey, ClimbMTargon
        li BE HUMBLE
          .team Revolt, Migab, Vétheo, LichtundSchaten, Number moon
        li Le Cercle
          .team Athor, Zatos, Vulca, Micro, Kinn
        li Feunix
          .team Yzukai, Over, SkySharingan, Wrex, Raïto
        li Rocalys
          .team Seminol, leodb, NRV, Rafale, FrenzySama
        li La Vivance
          .team Arno, Vichen, Frappii, NoTiixx, Solen
        li Sava avec un S
          .team EL Collègue, Nunu the Insane, The Collègue, Ozkkan, Grab the Crab
        li Team Delta Project
          .team Enva, OniiChan, Fanta, DezayD, FaastLife
        li Pandaria Esport
          .team Nizeur, stormax, Pacou, Neptune, Hazen
        li Warthox Esport
          .team Ethinak, Cedeix, Numandiel, IvanDragovic, ArchLL
        li Olympe T1
          .team Deerex, Koni, makoto, Raykko Sama, Snarpis
        li Bunker eSport
          .team Loop, Guiismo, Kazeyami, Hydrale, Nimu
