extends ../layout

block content
  h2 Streams
    if user
      a.float-right.btn.btn-primary(href='/streams/new') Add a stream
  hr

  .row
    each stream in streams
      .col.col-6
        a.card(href='/streams/' + stream.uuid)
          .card-body.nt-flex-card
            .nt-lollypop
              .nt-lollypop_pop
                if stream.team
                  img.avatar.img-sm.img-fluid(src='/assets/teams/' + stream.team.logo)
              .nt-lollypop_stick
                h3 #{stream.name}
        br
